@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: 'Lato', 'serif';
}

body {
    background: rgb(180,240,144);
    background: linear-gradient(140deg, rgba(180,240,144,1) 0%, rgba(69,185,182,1) 100%);
}

.bg-card {
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(238,255,235,1) 100%);
}

.cards-container {
    @apply container mx-auto p-4 gap-4 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4
}

.bg-type-normal {
    background-color: theme('colors.pk-type-normal');
}

.bg-type-fire {
    background-color: theme('colors.pk-type-fire');
}

.bg-type-water {
    background-color: theme('colors.pk-type-water');
}

.bg-type-electric {
    background-color: theme('colors.pk-type-electric');
}

.bg-type-grass {
    background-color: theme('colors.pk-type-grass');
}

.bg-type-ice {
    background-color: theme('colors.pk-type-ice');
}

.bg-type-fighting {
    background-color: theme('colors.pk-type-fighting');
}

.bg-type-poison {
    background-color: theme('colors.pk-type-poison');
}

.bg-type-ground {
    background-color: theme('colors.pk-type-ground');
}

.bg-type-flying {
    background-color: theme('colors.pk-type-flying');
}

.bg-type-psychic {
    background-color: theme('colors.pk-type-psychic');
}

.bg-type-bug {
    background-color: theme('colors.pk-type-bug');
}

.bg-type-rock {
    background-color: theme('colors.pk-type-rock');
}

.bg-type-ghost {
    background-color: theme('colors.pk-type-ghost');
}

.bg-type-dragon {
    background-color: theme('colors.pk-type-dragon');
}

.bg-type-dark {
    background-color: theme('colors.pk-type-dark');
}

.bg-type-steel {
    background-color: theme('colors.pk-type-steel');
}

.bg-type-fairy {
    background-color: theme('colors.pk-type-fairy');
}

.nice-input {
    @apply rounded-full w-full border-0
}

.infinite-scroll-component {
    @apply container mx-auto p-4 gap-4 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4
}